<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Log in</h1>

  <form action="/login" method="POST">
    <label for="username">User name</label>
    <input name="username" type="text" placeholder="User name" />

    <label for="password">Password</label>
    <input name="password" placeholder="Password" type="text">

    <button>Log in</button>
  </form>

</body>
</html>